name: CD Pipeline

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Compose Pull
        run: |
          docker compose pull || true

      - name: Docker Compose Up
        run: |
          docker compose up -d
