name: CD Pipeline

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: dawidc23
          password: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Pull Docker image
        run: |
          docker pull ghcr.io/dawidc23/projektrdevops/flask-devops:latest || true

      - name: Simulate docker compose pull
        run: echo "docker compose pull"

      - name: Simulate docker compose up -d
        run: echo "docker compose up -d"

      - name: Simulate application restart
        run: echo "Application restarted successfully"
