name: CI Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (builder + test)
        run: |
          docker build --target test -t flask-devops-test .

      - name: Build final image
        run: |
          docker build -t flask-devops .

      - name: Run basic container test
        run: |
          docker run --rm flask-devops python -c "print('Container OK')"
